    #Adiv{
        float:left;
        top:10%;
       }
       #Bdiv{
        left: 25%;
        top:10%;
       }
       #Cdiv{
        top:40%;
       }
    
       #Ddiv{
        left:25%;
        top:40%;
       }
    #myFoot{
        top:70%;
    }
