
#Adiv{
    position:absolute;
    background-color: rgb(184, 150, 203);
    border: 2px solid black;
    width: 15%;
    height:15%;
    padding: 3%;
    margin:0%;
}
#Bdiv{
    position:absolute;
    background-color:rgb(164, 105, 196);
    border: 2px solid black;
    width: 15%;
    height: 15%;
    padding: 3%;
    margin:0%;
}
#Cdiv{
    position:absolute;
    background-color:rgb(140, 95, 154);
    border: 2px solid black;
    width: 15%;
    height:15%;
    padding:3%;
    margin:0%;
}

#Ddiv{
    position:absolute;
    background-color:rgb(99, 63, 129);
    border: 2px solid black;
    width: 15%;
    height: 15%;
    padding: 3%;
    margin:0%;
}
li{
    position:relative;
    width: 75px;
    height: 20px;
    background-color:rgb(218, 203, 234);
    border: 1px dashed black;
    padding: 0.5%;
    margin:5%;
    top: -60px;;
}
h1{
    position:relative;
    top:-30%;
    width:100%;
}
ul{
    list-style-type:none;
}

li:hover{
    background-color:rgb(245, 245, 222);
}
#myFoot{
    position:absolute;
    background-color:rgb(63, 44, 106);
    padding: 0.5%;
    color:white;
    width:100%;
}

/*Phone */
@media only screen and (max-width:480px){
    #Adiv{
        float:left;
        top:10%;
        width: 40%
    }
    #Bdiv{
        top:35%;
        width:40%
    }
    #Cdiv{
        top: 60%;
        width:40%
    }
    #Ddiv{
        top: 85%;
        width:40%;
    }
    #myFoot{
        top: 110%;
    }
    #title{
        padding:2%;
    }

}
/*Tablet */
@media only screen and (min-width:481px) and (max-width: 768px){
    #Adiv{
        float:left;
        top:10%;
       }
       #Bdiv{
        left: 25%;
        top:10%;
       }
       #Cdiv{
        top:40%;
       }
    
       #Ddiv{
        left:25%;
        top:40%;
       }
    #myFoot{
        top:65%;
    }
}

/*Desktop */
@media only screen and (min-width:769px){
    
    #Adiv {
        float:left;
        top:10%;
    }
    #Bdiv{
        left:75%;
        top:10%
    }
    #Cdiv{
        left:25%;
        top:10%;
        
    }
    
    #Ddiv{
       left:50%;
       top:10%;
    }
    #myFoot{
        top:40%;
    } 



}
#title{
    background-color:rgb(61, 50, 96);
    border:black;
    color:antiquewhite;
    padding: 1%;
}
